table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: auto;
    align-content: center;
}

tr, td {
    padding-left: 20px;
    border: 1px solid black;
    padding: 10px;
}